<!-- Modal -->
<app-modal [isOpen]="isOpen" (close)="closeModal()" className="max-w-[700px] m-4">
    <div
        class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-2 dark:bg-gray-900 lg:p-11">
        <h5 class="mb-5 text-md font-medium text-gray-600 dark:text-white/90 lg:mb-6">
            Customer Detail
        </h5>
        <div class="max-w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr>
                        <th scope="col"
                            class="px-1 py-1 font-medium text-gray-500 sm:px-6 text-start text-theme-xs dark:text-gray-400">
                            No
                        </th>
                        <th scope="col"
                            class="px-1 py-1 font-medium text-gray-500 sm:px-6 text-start text-theme-xs dark:text-gray-400">
                            Status
                        </th>
                        <th scope="col"
                            class="px-1 py-1 font-medium text-gray-500 sm:px-6 text-start text-theme-xs dark:text-gray-400">
                            Followup Date
                        </th>
                        <th scope="col"
                            class="px-1 py-1 font-medium text-gray-500 sm:px-6 text-start text-theme-xs dark:text-gray-400">
                            Comment
                        </th>
                        <th scope="col"
                            class="px-1 py-1 font-medium text-gray-500 sm:px-6 text-start text-theme-xs dark:text-gray-400">
                            Created Date
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
                    @if (loading) {
                    <tr>
                        <td colspan="5"
                            class="px-1 py-1 font-medium text-gray-500 sm:px-6 text-start text-theme-xs dark:text-gray-400">
                            Loading...
                        </td>
                    </tr>
                    }
                    @if(error){
                    <tr>
                        <td colspan="5"
                            class="px-1 py-1 font-medium text-gray-500 sm:px-6 text-start text-theme-xs dark:text-gray-400">
                            {{ error }}
                        </td>
                    </tr>
                    }
                    @for (item of leadHistory; track $index) {
                    <tr>
                        <td
                            class="px-1 py-1 font-medium text-gray-800 sm:px-6 text-start text-theme-sm dark:text-white/90">
                            {{ $index + 1}}
                        </td>
                        <td
                            class="px-1 py-1 font-medium text-gray-800 sm:px-6 text-start text-theme-sm dark:text-white/90">
                            {{ item.status }}
                        </td>
                        <td
                            class="px-1 py-1 font-medium text-gray-800 sm:px-6 text-start text-theme-sm dark:text-white/90">
                            {{ item.followup | safeDate}}
                        </td>
                        <td
                            class="px-1 py-1 font-medium text-gray-800 sm:px-6 text-start text-theme-sm dark:text-white/90">
                            {{ item.comment }}
                        </td>
                        <td
                            class="px-1 py-1 font-medium text-gray-800 sm:px-6 text-start text-theme-sm dark:text-white/90">
                            {{ item.createDate }}
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</app-modal>