@if (error$ | async; as error) {
<div class="alertMessage">
    <app-alert variant="error" title="Failed To Fetch Lead" [message]="error" />
</div>
}

<ag-grid-angular class="ag-theme-quartz" style="width: 100%; height: 700px" [theme]="theme"
    [rowData]="customers$ | async" [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [pagination]="true"
    [paginationPageSize]="100" [loading]="loading$ | async">
</ag-grid-angular>


@if (selectedCustomer) {
<app-show-history-model [selectedCustomer]="selectedCustomer" />
}

@if (addLeadStatus) {
<app-add-lead-status [selectedCustomer]="addLeadStatus" />
}

@if (addLeadFollowup) {
<app-add-followup-lead [selectedCustomer]="addLeadFollowup" />
}